.marginRight {
  margin-right: 10px;
}

.marginBottom {
  margin-bottom: 10px;
}

.padding {
  padding: 10px;
}

.form-control {
  height: 30px
}

.controlHeight {
  height: 30px;
}

.overflowText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.disabled {
  pointer-events: none;
  opacity: 0.7;
}
